#menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .menu-hamburguer {
        width: 38px;
        display: block;
        height: 29px;
        z-index: 3;
        position: absolute;
        right: 14px;
        top: 14px;
    }

    .menu-hamburguer span,
    .menu-hamburguer span::after,
    .menu-hamburguer span::before {
        position: absolute;
        height: 5px;
        width: 100%;
        border-radius: 5px;
        transition: .5s all;
        background-color: #d5e4cf;
    }

    .menu-hamburguer span::after {
        content: "";
        margin-top: 12px;
    }

    .menu-hamburguer span::before {
        content: "";
        margin-top: 24px;
    }

    #menu-toggle {
        width: 38px;
        display: block;
        height: 29px;
        opacity: 0;
        z-index: 4;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    #menu-toggle:checked~.lista {
        opacity: 1;
        transform: scaleX(1);
        transform-origin: 100%;
    }

    .lista {
        position: absolute;
        right: 0;
        margin: 0 !important;
        transform-origin: 100%;
        transform: scaleX(0);
        opacity: 0;
        transition: .5s all;
        box-sizing: border-box;
        padding-top: 50px;
        display: block;
        width: 300px;
        height: 100vh;
        background-color: #9dcc9b;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    }

    .lista ul {
        display: flex;
        padding: 10px;
        flex-direction: column;
    }

    .lista ul li {
        margin: 0.1em;
    }

    .lista ul li a {
        color: #2a836b;
    }

    .lista ul li a:hover {
        text-decoration: none;
    }

    .lista ul li:hover {
        background-color: #b6dfb5;
    }

    #menu-toggle:checked~.menu-hamburguer span {
        top: 14px;
        transform: rotate(135deg);
        background-color: #2a836b;
    }

    #menu-toggle:checked~.menu-hamburguer span::after {
        opacity: 0;
    }

    #menu-toggle:checked~.menu-hamburguer span::before {
        transform: rotate(-90deg);
        right: 0px;
        background-color: #2a836b;
        top: -24px;
    }
}