html {
  min-height: 100%;
}

body {
  min-height: 100%;
  font-family: "Nunito", sans-serif;
  color: rgb(32, 36, 32);
  background-size: cover;
  background-color: #f7f7f7;
}

main {
  display: flex;
  margin: 0 auto;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
  width: max-content;
  height: 500px;
}

form, input{
  margin: 1%;
}

form button:first-child{
  width: 69%;
  margin-top: 1%;
}

form button:last-child{
  width: 30%;
  margin-top: 1%;
}

.btn-primary{
  background-color: #136b69;
  border: 2px solid #136b69;
}

.btn-primary:hover{
  background-color: rgb(42, 131, 107);
  border: 2px solid rgb(42, 131, 107);
}

input[type="radio"] {
  accent-color: #136b69;
  margin-bottom: 1%;
  margin-top: 1%;
}

figure img{
  width: 100%;
  margin-bottom: 0%;
}

#txt-auxiliar-senha{
  margin-left: 6.625px;
}

@media (max-width: 991px) {
  main {
    width: 100%;
    margin: 0 auto;
  }

  .img-cadastro {
    display: none;
  }

  form{
    margin: 0 auto;
  }
}

@media (max-width: 640px) {
  main{
    height: fit-content;
    margin-bottom: 2%;
  }

  
input[type="radio"] {
  margin-top: 2%;
}

  form button:first-child{
    width: 100%;
    margin-top: 1%;
  }
  
  form button:last-child{
    width: 100%;
    margin-top: 2%;
   
  }
}
