:root{
  --tamanho-main: calc(100% - (95vh + 200px));
}

body{
  /* max-width: 100vw; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 95vh var(--tamanho-main) 200px;
  grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer"
  ;
}
.containerHeader{
  grid-area: header;
}
main{
  grid-area: main;
}

/* estilização para imagem principal */
.principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.principal-img{
  width: 80vw;
  height: 500px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.principal-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}
.titulo{
  font-weight: bold;
  text-transform: uppercase;
  margin: 0px;
  line-height: 5;
  font-size: 2em;
  text-align: center;
}
.titulo h1{
  margin: 0;
}

/* estilização do conteúdo */
.conteudo{
  max-width: 80vw;
  margin: 20px auto 20px;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
}
.descricao{
  padding: 1rem;
  text-align: justify;
}
.descricao h2{
  color: #024053;
}
.card-header{
  background-color: #fff!important;
}
.material-icons.yellow {
   color: #fbd500; 
}
.card-title{
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

/* estilização galeria de imagens */
.destinos{
  margin: 0 auto 50px;
  max-width: 80vw;
}
.card-group{
  gap: 15px;
  padding: 5px
}
.card-galery{
  flex-direction: row!important;
  border-radius: 10px!important;
}
.card a{
  display: inherit;
  text-decoration: none;
}
.card-img-top{
  box-shadow: 0px 2px 10px rgba(0,0,0,.15);
  transition: .4s;
  border-radius: 10px!important;
}
.card-img-top:hover{
  transform: scale(1.05);
  box-shadow: 0px 10px 10px rgba(0,0,0,.15) !important;
}
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto!important;  
  left: 0;
  padding: 1rem;
  border-radius: calc(0.25rem - 1px);
  inset:initial;
}

/* estilização do footer */
/* footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #136B69;
  grid-area: footer;
  height: 200px;
}
#footer-logo {
  width: 7em;
  height: 7em;
  transform: rotate(45deg);
}
.footer-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.links a{
  text-decoration: none;
  margin: 0 5px;
  color: rgba(238, 238, 238, 0.74);
}
.links a:hover{
  color: #eee;
}
.redes-icons img{
  width: 3rem;
  height: auto;
}
.footer-links p{
  color: rgba(238, 238, 238, 0.74);
}
.redes-icons img:hover{
  scale: 1.2;
} */

/* responsividade */
@media (max-width: 500px) {
  .conteudo{
    flex-wrap: wrap;
  }
}
